// Place all the styles related to the cohorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indent {
  padding-left: 35px !important;
}

.centered {
  text-align: center;
}

thead {
  color: lightgreen;
  text-shadow:
    -1px -1px 0 #002A5C,
    1px -1px 0 #002A5C,
    -1px 1px 0 #002A5C,
    1px 1px 0 #002A5C; 
  border: 3px solid #002A5C;
}

.butt {
  background-color: lightgreen;
  color: #3CABDB !important;
}

.butt:hover {
  background-color: #3CABDB !important;
  color: lightgreen;
}